.profile {
display: flex;
/* flex-direction: column; */
justify-content: center;

}

.profile__avatar {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 300px;
    border: solid black 1pt;
}

.profile__avatar_name {
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    color: black

}

.profile__clothingItems {
color: black;

}

.profile__clothingItems_header {
    display: flex;
    align-items: center;
    gap: 20px;
    width:300px;
    border: solid black 1pt;
}

.profile__clothingItems_add {
    color: rgba(0, 0, 0, 0.60);

}