.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__preview_container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 498px;
  width: 100%;
  max-height: 610px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.modal__preview_image {
  width: 498px;
  height: 498px;
}

.modal__preview_text-container {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.modal__preview_delete {
  display: flex;
  position: absolute;
  left: 368px;
  color: red;
  border: none;
}

.modal__preview_delete-text {
  color: red;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


.modal__preview-text {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 12px;
}

.modal__close {
  background-repeat: no-repeat;
  margin: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity ease-in-out 1s;
}

.modal__preview_close {
  background-image: url("../../images/close_icon_3.svg");
}

.modal__text {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}
