.card__button-like {
    background: url("../images/love_button.svg") center no-repeat;
    background-size: 21px 18px;
    width: 21px;
    height: 18px;
    border: 0;
    margin: auto 20px auto auto;
    /* background-color: rgba(0, 0, 0, 0); */
    transition: ease-in-out 1s;
  }