.main {
  padding: 0 20px;
}
.main__weather {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.main__weather-temp {
  position: absolute;
  /* display: flex; */
  font-size: 36px;
  font-weight: 700px;
  margin: 20px auto 20px 16px;
  color: white;
}

.main__weather-icon {
  width: 100%;
}

.main__reco {
  margin-top: 40px;
  font-size: 20px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.main__cards-image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.main__cards_header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 328px;
  margin-top: 18px;
  
}

.main__cards-name {
  justify-items: center;
  display: inline;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: white;
}

.main__cards-like {
  background-image: url("../../images/love_button.svg");
  background: url("../../images/love_button.svg") center no-repeat;
  background-size: 21px 18px;
  width: 21px;
  height: 18px;
  border: 0;
  margin-left: 10px;
}
