.modal__delete {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__delete_block {
  position: relative;
  background-color: white;
  max-width: 670px;
  width: 100%;
  max-height: 280px;
  height: 100%;
  border-radius: 20px;
}

.modal__delete_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.modal__delete_content-text {
  display: inline;
  text-align: center;
  margin-bottom: 40px;
}

.modal__deleteConfirmation_button-delete {
  color: red;
}

.modal__deleteConfirmation_button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 24px;
}

.modal__deleteConfirmation_button:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.modal__close {
  background-repeat: no-repeat;
  margin: 0;
  position: absolute;
  right: 22px;
  top: 22px;
  height: 16px;
  width: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* background-color: red; */
  cursor: pointer;
  transition: opacity ease-in-out 1s;
}

.modal__preview_close {
  background-image: url("../../images/close_icon.svg");
}
