
.profile__avatar {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 300px;
    border: solid black 1pt;
    align-items: flex-start;
}

.profile__avatar_name {
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    font-weight: 700;
    color: black

}