.modal__content-preview {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 498px;
  width: 100%;
  max-height: 610px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.modal__image {
  width: 498px;
  height: 498px;
 
}

.modal__text-preview {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.modal__preview-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    
    margin-bottom: 12px;
  }
