.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

.tempWeather {
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  max-width: 1360px;
}
